body {
background-color:  black;
color: white;
font-family: Arial, Helvetica, sans-serif;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
img {
    width: 100px;
    height: 100px;
    
}
header {
    text-align: center;
    display: flex;
    justify-content: center;
}
.center {
    text-align: center;
}
footer img {
    width: 30px;
    height: 30px;
    
}
.container {
    padding: 0px 50px;

}
a{
    color: white;
    text-decoration: none ;
}
footer {
    text-align: center;
    display: flex;
    justify-content: center;
}


footer a {
    margin: 20px;
}
footer p {
    margin-top: 2px;
}